# Subdomain aplikasi
CORE_DOMAIN=core_rv.ilhamdean.cloud
FRONT_DOMAIN=front_rv.ilhamdean.cloud
PRED_DOMAIN=pred_rv.ilhamdean.cloud
MINIO_API_DOMAIN=minio_rv.ilhamdean.cloud
MINIO_CONSOLE_DOMAIN=minio_console_rv.ilhamdean.cloud

