MINIO_ENDPOINT="your_minio_endpoint"
MINIO_PORT=9000
MINIO_ACCESS_KEY="your_minio_access_key"
MINIO_SECRET_KEY="your_minio_secret_key"
MINIO_BUCKET="your_minio_bucket_name"
MINIO_USE_SSL=false
PORT=8081 # A different port than the core service